{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "max-nesting-depth": [3, {
      "ignore": ["blockless-at-rules", "pseudo-classes"]
    }],
    "declaration-no-important": [true, {
      "severity": "warning"
    }],
    "color-hex-length": ["short"],
    "at-rule-no-unknown": [true, {
      "ignoreAtRules": [
        "at-root",
        "use",
        "forward",
        "mixin",
        "include",
        "if",
        "else",
        "function",
        "return",
        "each",
        "starting-style"
      ]
    }],
    "property-no-unknown": [true, {
      "ignoreProperties": [
        "text-box"
      ]
    }],
    "function-no-unknown": [true, {
      "ignoreFunctions": [
        "dvh",
        "lh",
        "ls",
        "unit-from",
        "strip-unit",
        "from-percent-to-abs",
        "letter-spacing",
        "opacity",
        "darken",
        "lighten"
      ]
    }],
    "no-invalid-position-at-import-rule": [true, {
      "ignoreAtRules": [
        "use",
        "forward"
      ]
    }],
    "@stylistic/string-quotes": "single",
    "@stylistic/block-closing-brace-newline-after": null,
    "@stylistic/indentation": [2, {"ignore": ["inside-parens"]}],
    "at-rule-empty-line-before": null,
    "no-unknown-custom-properties": null,
    "selector-nested-pattern": null,
    "selector-max-compound-selectors": null,
    "alpha-value-notation": "number",
    "color-function-alias-notation": null,
    "color-function-notation": null,
    "selector-not-notation": "simple",
    "value-keyword-case": null,
    "order/properties-order": null,
    "media-feature-range-notation": null,
    "selector-no-deprecated": null,
    "declaration-block-no-redundant-longhand-properties": null
  }
}
