mixin sprite()

  script.
    (() => {
      var xhr = new XMLHttpRequest();
      xhr.open('GET', ASSETS_PATH + 'img/sprite.svg', true);
      xhr.send();
      xhr.onload = () => {
        var div = document.createElement('div');
        div.className = 'visually-hidden';
        div.innerHTML = xhr.responseText;
        document.body.insertBefore(div, document.body.childNodes[0]);
      }
    })();
