.preloader {
  @include absolute-layer;
  @include blur(10px);
  display: grid;
  place-items: center;
  z-index: var(--z-preloader);
  user-select: none;
  background: opacity(var(--color-white), 60%);
  isolation: isolate;

  &.is-hidden {
    display: none;
  }
}
