.preloader {
  @include blur(10px);
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  user-select: none;
  background: rgba(var(--color-white), 0.6);

  &.is-hidden {
    display: none;
  }
}
