extends ../components/layouts/main-layout

block variables
  -
    title = 'UI-kit'
    hasFooter = false
    hasHeader = false

    const items = [
      {
        title: 'Colors',
        href: '#colors'
      },
      {
        title: 'Buttons',
        href: '#buttons'
      },
      {
        title: 'Inputs',
        href: '#inputs'
      },
      {
        title: 'Textareas',
        href: '#textareas'
      },
      {
        title: 'Selects',
        href: '#selects'
      },
      {
        title: 'Fields',
        href: '#fields'
      },
      {
        title: 'Checkboxes',
        href: '#checkboxes'
      },
      {
        title: 'Radios',
        href: '#radios'
      },
      {
        title: 'Badges',
        href: '#badges'
      }
    ]

    const testSelect = [
      { title: 'Value 1', value: 'value1'},
      { title: 'Value 2', value: 'value2' }
    ]

    const colors = [
      'white', 'black', 'main', 'accent', 'muted', 'link', 'link-hover', 'error'
    ]

block main
  style
    include ../styles/ui-kit.css

  main.container
    .wrapper
      .sidebar
        ul.links
          each item in items
            li
              a(href=item.href).links__link!=item.title

      .main
        .section#colors
          h2.section__title Colors
          .section__row
            each item in colors
              span.color(style=`background: var(--color-${item})` title=`--color-${item}`)

        .section#buttons
          h2.section__title Buttons
          .section__row
            +btn({ var: 'primary' }) Button primary
            +btn({ var: 'primary', size: 'sm' }) Button SM
            +btn({ var: 'primary', size: 'md' }) Button MD
            +btn({ var: 'primary', size: 'lg' }) Button LG
            +btn({ var: 'primary', size: 'lg', hasLoad: true, isLoad: true }) Button LG
            +btn({ var: 'primary', size: 'lg', hasLoad: true, isLoad: true, mod: 'square' }) X
            +btn({ var: 'primary', size: 'sm', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close', size: 12 })
            +btn({ var: 'primary', size: 'md', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close' })
            +btn({ var: 'primary', size: 'lg', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close', size: 24 })
          .section__row
            +btn({ var: 'secondary' }) Button secondary
            +btn({ var: 'secondary', size: 'sm' }) Button SM
            +btn({ var: 'secondary', size: 'md' }) Button MD
            +btn({ var: 'secondary', size: 'lg' }) Button LG
            +btn({ var: 'secondary', size: 'lg', hasLoad: true, isLoad: true }) Button LG
            +btn({ var: 'secondary', size: 'lg', hasLoad: true, isLoad: true, mod: 'square' }) X
            +btn({ var: 'secondary', size: 'sm', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close', size: 12 })
            +btn({ var: 'secondary', size: 'md', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close' })
            +btn({ var: 'secondary', size: 'lg', mod: ['square', 'rounded'] })
              +icn({ name: 'icn-close', size: 24 })

        .section#inputs
          h2.section__title Inputs
          .section__row.section__row--max
            +input({ var: 'primary', placeholder: 'Input' })
            +input({ var: 'primary', size: 'sm', value: 'Input SM' })
            +input({ var: 'primary', size: 'md', value: 'Input MD' })
            +input({ var: 'primary', size: 'lg', value: 'Input LG' })

        .section#textareas
          h2.section__title Textareas
          .section__row.section__row--max
            +textarea({ var: 'primary', placeholder: 'Textarea' })
            +textarea({ var: 'primary', size: 'sm', value: 'Textarea SM' })
            +textarea({ var: 'primary', size: 'md', value: 'Textarea MD' })
            +textarea({ var: 'primary', size: 'lg', value: 'Textarea LG' })

        .section#selects
          h2.section__title Selects
          .section__row.section__row--max
            +select({ var: 'primary', placeholder: 'Select', items: testSelect })
            +select({ var: 'primary', size: 'sm', placeholder: 'Select SM', items: testSelect })
            +select({ var: 'primary', size: 'md', placeholder: 'Select MD', items: testSelect })
            +select({ var: 'primary', size: 'lg', placeholder: 'Select LG', items: testSelect })

        .section#fields
          h2.section__title Fields
          .section__row.section__row--max
            +field({ title: 'Input', isFloat: true })
              +input({ var: 'primary', placeholder: 'Input' })
            +field({title: 'Float label', isFloat: true })
              +input({ var: 'primary', size: 'sm', value: 'Input SM', placeholder: 'Float label' })
            +field({ title: 'Float label', isFloat: true })
              +input({ var: 'primary', size: 'md', value: 'Input MD', placeholder: 'Float label' })
            +field({ title: 'Float label', isFloat: true })
              +input({ var: 'primary', size: 'lg', value: 'Input LG', placeholder: 'Float label' })

        .section#checkboxes
          h2.section__title Checkboxes
          .section__row.section__row--max
            +checkbox({ value: 'Checkbox SM', isDisabled: true, isChecked: true }) Checkbox controll is disabled
            +checkbox({ value: 'Checkbox SM', isChecked: true, mod: 'start' }) Checkbox controll start align
            +checkbox({ mod : 'rounded' }) Rounded corners
          .section__row.section__row--max
            +checkbox({ value: 'Checkbox SM', isDisabled: true, isChecked: true, var: 'invert' }) Checkbox controll is disabled
            +checkbox({ value: 'Checkbox SM', isDisabled: true, var: 'invert' }) Checkbox controll is disabled
            +checkbox({ value: 'Checkbox SM', isChecked: true, mod: 'start', var: 'invert' }) Checkbox controll start align
            +checkbox({ mod : 'rounded', var: 'invert' }) Rounded corners
          .section__row.section__row--max
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'sm'}) SM
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'md' }) MD
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'lg'}) LG
          .section__row.section__row--max
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'sm', var: 'invert' }) SM
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'md', var: 'invert' }) MD
            +checkbox({ value: 'Checkbox', name: 'check-all', size: 'lg', var: 'invert'}) LG

        .section#radios
          h2.section__title Radios
          .section__row.section__row--max
            +radio({ name: 'radio1', isDisabled: true, isChecked: true, name: 'r-1' }) Radio controll is disabled
            +radio({ name: 'radio1', isDisabled: true, name: 'r-1' }) Radio controll is disabled
            +radio({ name: 'radio1', isChecked: true, mod: 'start' }) Radio controll start align
            +radio({ name: 'radio1', mod: 'square' }) Radio square
          .section__row.section__row--max
            +radio({ name: 'radio1', isDisabled: true, isChecked: true, name: 'r-2', var: 'invert' }) Radio controll is disabled
            +radio({ name: 'radio1', isDisabled: true, name: 'r-2', var: 'invert' }) Radio controll is disabled
            +radio({ name: 'radio1', isChecked: true, mod: 'start', var: 'invert' }) Radio controll start align
            +radio({ name: 'radio1', mod: 'square', var: 'invert' }) Radio square
          .section__row.section__row--max
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'sm'}) SM
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'md' }) MD
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'lg'}) LG
          .section__row.section__row--max
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'sm', var: 'invert' }) SM
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'md', var: 'invert' }) MD
            +radio({ value: 'Checkbox', name: 'radio-all', size: 'lg', var: 'invert' }) LG

        .section#toggle
          h2.section__title Toggle
          .section__row.section__row--max
            +toggle({ name: 'radio1', isDisabled: true, isChecked: true, name: 'r-1' }) Radio controll is disabled
            +toggle({ name: 'radio1', isDisabled: true, name: 'r-1' }) Radio controll is disabled
            +toggle({ name: 'radio1', isChecked: true, mod: 'start' }) Radio controll start align
            +toggle({ name: 'radio1', mod: 'square' }) Radio square

        .section#badges
          h2.section__title Badges
          .section__row.section__row--max
            +badge({ var: 'primary', size: 'sm' }) Badge primary
            +badge({ var: 'primary', size: 'md' }) Badge primary
            +badge({ var: 'primary', size: 'lg' }) Badge primary
            +badge({ var: 'secondary', size: 'sm' }) Badge secondary
            +badge({ var: 'secondary', size: 'md' }) Badge secondary
            +badge({ var: 'secondary', size: 'lg' }) Badge secondary
