mixin modal-feedback(props = {})

  .modal-feedback&attributes(attributes)
    .modal-feedback__text
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, nostrum exercitationem! Sapiente commodi, cumque, saepe tenetur delectus odio sequi inventore cum sit nemo voluptate, porro suscipit fugiat modi eligendi eum.
