title= `xVite - ${title}`
meta(name="description" content!=desc)
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

//- Prevent transform phone number & address to link in Safari
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
