

//- https://ogp.me/#types
meta(property="og:type" content="article")
meta(property="og:title" content=`xVite - ${title}`)
meta(property="og:description" content!=desc)
meta(property="og:url" content="/")

//- Social Sharing с абсолютной ссылкой до картинки
meta(property="og:image" content="https://site.ru/img/og/1024х512.jpg")
meta(property="twitter:image" content="https://site.ru/img/og/1024х512.jpg")
meta(name="twitter:card" content="summary_large_image")
meta(property="fb:image" content="https://site.ru/img/og/500х261.jpg")
meta(property="vk:image" content="https://site.ru/img/og/510х228.jpg")
