-
  let title = ''
  let desc = 'xVite template'
  let hasHeader = true
  let hasFooter = true
  let pageMods = ''
  let headerMods = ''
  let footerMods = ''
  let currentUrl = ''

  const MEDIA = {
    fullhd: 1920,
    quadhd: 1440,
    hd: 1280,
    desktop: 1024,
    notebook: 960,
    tablet: 768,
    smartphone: 620,
    phone: 480,
    last: 375
  }
