[data-tabs-blocks] {
  display: grid;
  grid-template: 1fr / 1fr;
}

[data-tabs-blocks] > * {
  grid-area: 1 / 1;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transform: translateX(#{rem(-20)});
  pointer-events: none;
  transition:
    visible var(--trans-base),
    opacity var(--trans-base),
    transform var(--trans-base);
  will-change: opacity, transform;

  &.is-active {
    opacity: 1;
    max-height: unset;
    visibility: visible;
    transform: translateX(0);
    pointer-events: all;
  }

  @starting-style {
    opacity: 0;
  }
}
