.btn {
  --btn-size-md: var(--field-md);
  --btn-size-sm: var(--field-sm);
  --btn-size-lg: var(--field-lg);

  anchor-name: --btn;
  anchor-scope: all;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  vertical-align: middle;
  line-height: $font-base-lh;
  text-align: center;
  border: 1px solid transparent;
  max-width: 100%;
  opacity: 1;
  transition: background var(--trans-base), color var(--trans-base);
  touch-action: none;
  text-overflow: ellipsis;
  user-select: none;
  isolation: isolate;

  // states
  &:hover:not(:disabled):not(.is-disabled) {
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &:is(:active, .is-active):not(:disabled):not(.is-disabled) {
    outline: none;
    scale: 0.9;
  }

  &:is(:disabled, .is-disabled) {
    cursor: not-allowed;
    opacity: 0.7;
  }

  &.is-load {
    pointer-events: none;
    opacity: 0.7;
  }

  &.is-load &__loader {
    opacity: 1;
  }

  @include media(animate) {
    &.is-load &__loader {
      animation: scale 1s linear infinite;
    }
  }

  &.is-load &__text {
    opacity: 0;
  }

  // vars
  &--var-primary {
    background: var(--color-black);
    color: var(--color-white);

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:hover,
    &:visited {
      color: var(--color-white);
    }
  }

  &--var-secondary {
    background: transparent;
    border-color: var(--color-black);
    color: var(--color-black);

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    &:hover,
    &:visited {
      color: var(--color-black);
    }
  }

  // sizes
  &--size-md {
    @include btn-base;
    min-height: var(--btn-size-md);
    min-width: var(--btn-size-md);
    padding-inline: rem(32);
  }

  &--size-sm {
    @include btn-sm;
    min-height: var(--btn-size-sm);
    min-width: var(--btn-size-sm);
    padding-inline: rem(32);
  }

  &--size-lg {
    @include btn-lg;
    min-height: var(--btn-size-lg);
    min-width: var(--btn-size-lg);
    padding-inline: rem(32);
  }

  // mods
  &--mod-fluid {
    width: 100%;
    display: flex;
  }

  &--mod-square {
    padding-inline: 0;
    overflow: hidden;
    white-space: nowrap;
  }

  &--mod-rounded {
    border-radius: calc(infinity * 1px);
  }

  &--mod-square#{&}--size-md {
    width: var(--btn-size-md);
  }

  &--mod-square#{&}--size-sm {
    width: var(--btn-size-sm);
  }

  &--mod-square#{&}--size-lg {
    width: var(--btn-size-lg);
  }

  // elements
  &__loader,
  &__text {
    pointer-events: none;
  }

  &__loader {
    @include square(1.5cap);
    position: absolute;
    top: 50%;
    left: 50%;
    background: currentColor;
    border-radius: 50%;
    translate: -50% -50%;
    transform-origin: center;
    opacity: 0;
  }

  &__text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}
