.checkbox,
.radio {
  --radius-control: #{rem(4)};
  --color-bd-control: #ccc;
  --color-bg-control: #fff;
  --color-bg-disabled: #eee;
  --color-bg-checked: #1f95de;
  --control-size: 20px;
  --control-gap: #{rem(8)};

  cursor: pointer;
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  line-height: inherit;
  min-height: var(--control-size);
  min-width: var(--control-size);
  user-select: none;
  isolation: isolate;

  &--size-lg {
    --control-size: 28px;
    --control-gap: #{rem(12)};
    font-size: rem(20);
  }

  &--size-md {
    --control-size: 20px;
    font-size: rem(16);
  }

  &--size-sm {
    --control-size: 16px;
    --control-gap: #{rem(4)};
    font-size: rem(12);
  }

  &__title {
    display: inline-grid;
    grid-template-columns: var(--control-size) 1fr;
    grid-template-rows: 1fr;
    gap: var(--control-gap);
    align-items: center;
    vertical-align: top;
    font-size: inherit;
    line-height: inherit;
  }

  &--mod-start &__title {
    align-items: flex-start;
  }

  &__title:empty {
    gap: 0;
  }

  &__title::before,
  &__title::after {
    content: '';
    grid-area: 1 / 1;
    pointer-events: none;
  }

  &__title::before {
    border: 1px solid var(--color-bd-control);
  }

  &:active input:not(:disabled) ~ &__title {
    &::before,
    &::after {
      transform: scale(0.9);
    }
  }

  input {
    @include square(17px);
    vertical-align: top;
    margin: 0 3px 0 0;
  }

  // stylelint-disable-next-line
  input:not(checked) {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  &:has(input:disabled) {
    cursor: not-allowed;
  }

  input:disabled ~ &__title {
    &::before,
    &::after {
      filter: grayscale(1);
    }
  }
}

// Checkbox
.checkbox {
  &__title::before {
    @include square(var(--control-size));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: var(--color-bg-control);
    transition: opacity var(--trans-base), border-color var(--trans-base), box-shadow var(--trans-base);
  }

  &--mod-rounded &__title::before {
    border-radius: var(--radius-control);
  }

  &__title::after {
    @include square(var(--control-size));
    mask: url('data:image/svg+xml,%3Csvg%20viewBox%3D%270%200%2070%2070%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cpolygon%20fill%3D%27%23fff%27%20points%3D%2747.715%2C23.686%2032.159%2C39.243%2022.285%2C29.369%2018.749%2C32.904%2032.159%2C46.314%2051.251%2C27.222%27/%3E%3C/svg%3E') no-repeat center center / calc(var(--control-size) + 4px);
    background: var(--color-bg-checked);
    opacity: 0;
    transform: translateY(-50%);
    transition: opacity var(--trans-base), transform var(--trans-custom);
  }

  // disabled
  input:disabled ~ &__title {
    &::before {
      background: var(--color-bg-disabled);
      opacity: 0.7;
      filter: grayscale(1);
    }
  }

  input:checked:disabled ~ &__title {
    &::before {
      background: var(--color-bg-disabled);
    }
  }

  // checked
  input:checked ~ &__title::before {
    border-color: var(--color-bd-control);
    background-color: transparent;
    transition-delay: 0s;
  }

  input:checked ~ &__title::after {
    background: var(--color-bg-checked);
    opacity: 1;
    transform: translateY(0);
  }

  &--var-invert input:checked ~ &__title::before {
    border-color: color-mix(in oklch, var(--color-bg-checked) 80%, var(--color-black));
    background: var(--color-bg-checked);
  }

  &--var-invert input:checked ~ &__title::after {
    background-color: var(--color-bg-control);
  }

  // hover
  &:hover input:not(:checked):not(:disabled) ~ &__title::before,
  &:hover input:checked:not(:disabled) + &__title::before {
    border-color: var(--color-bg-checked);
  }

  &--var-invert:hover input:checked:not(:disabled) + &__title::before {
    border-color: color-mix(in oklch, var(--color-bg-checked) 10%, var(--color-black));
  }

  // focus
  & input:focus + &__title::before {
    box-shadow: 0 0 0 0.12em color-mix(in oklch, var(--color-bg-checked) 20%, var(--color-white));
  }
}

// Radio
.radio {
  &__title::before,
  &__title::after {
    border-radius: 50%;
    transition: border-color var(--trans-base), opacity var(--trans-base), transform var(--trans-custom);
  }

  &--mod-square &__title::before {
    border-radius: 0;
  }

  &__title::before {
    @include square(var(--control-size));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    line-height: var(--control-size);
    background: var(--color-bg-control);
    text-align: center;
  }

  &__title::after {
    background: var(--color-bg-checked);
    position: relative;
    left: calc(var(--control-size) / 2 / 2);
    width: calc(var(--control-size) / 2);
    height: calc(var(--control-size) / 2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: scale(0);
  }

  &--var-invert &__title {
    &::before {
      background: var(--color-bg-checked);
      border-color: transparent;
    }

    &::after {
      background: var(--color-bg-control);
      box-shadow: none;
    }
  }

  &--mod-start &__title::after {
    top: calc(var(--control-size) / 2 / 2);
  }

  // checked
  input:checked ~ &__title::after {
    opacity: 1;
    transform: scale(1);
  }

  // disabled
  input:disabled ~ &__title {
    &::before {
      background: var(--color-bg-disabled);
      opacity: 0.7;
      border: 1px solid var(--color-bd-control);
    }

    &::after {
      background: var(--color-bg-checked);
    }
  }

  &--var-invert input:disabled ~ &__title {
    &::before {
      background: var(--color-bg-disabled);
      opacity: 0.7;
    }

    &::after {
      background: var(--color-bg-control);
    }
  }

  &--var-invert input:checked:disabled ~ &__title {
    &::before {
      background: var(--color-bg-checked);
      border-color: color-mix(in oklch, var(--color-bg-checked) 80%, var(--color-black));
    }
  }

  // hover
  &:hover input:not(:checked):not(:disabled) ~ &__title::before,
  &:hover input:checked:not(:disabled) + &__title::before {
    border-color: var(--color-bg-checked);
  }

  &--var-invert:hover input:not(:checked):not(:disabled) ~ .radio__title::before,
  &--var-invert:hover input:checked:not(:disabled) + .radio__title::before {
    border-color: color-mix(in oklch, var(--color-bg-checked) 60%, var(--color-black));
  }

  // focus
  & input:focus + &__title::before {
    box-shadow: 0 0 0 0.12em color-mix(in oklch, var(--color-bg-checked) 20%, var(--color-white));
  }
}
