.field {
  width: 100%;
  display: block;
  flex: 0 0 auto;
  position: relative;
  isolation: isolate;

  &__title {
    display: block;
    margin-bottom: rem(2);
  }

  &--floating &__title {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
    transform-origin: left bottom;
    transition: transform var(--trans-base), top var(--trans-base), font-size var(--trans-base), padding var(--trans-base);
    pointer-events: none;
    will-change: padding, font-size, transform, top;
  }

  &--floating:has(input:focus) &__title,
  &--floating:has(input:not(:placeholder-shown)) &__title {
    transform: translateY(-100%) scale(0.8);
    top: 0;
    padding-left: 0;
  }

  &--floating:has(.input--size-md) &__title {
    @include field-base;
    padding-left: rem(12);
  }

  &--floating:has(.input--size-sm) &__title {
    @include field-sm;
    padding-left: rem(6);
  }

  &--floating:has(.input--size-lg) &__title {
    @include field-lg;
    padding-left: rem(14);
  }

  &__wrapper {
    display: block;
    position: relative;
  }

  &--floating .input::placeholder {
    color: transparent;
  }

  &__error {
    font-size: 0.8em;
    padding-top: rem(2);
    display: none;
    color: var(--color-error);
    pointer-events: none;
  }

  &.has-error &__error {
    display: block;
  }
}
