.input,
.textarea {
  --input-size-md: var(--field-md);
  --input-size-sm: var(--field-sm);
  --input-size-lg: var(--field-lg);

  border: 1px solid transparent;
  transition: border var(--trans-base), background-color var(--trans-base), color var(--trans-base), box-shadow var(--trans-base);
  background: transparent;
  width: 100%;
  text-overflow: ellipsis;

  @at-root textarea#{&} {
    overflow: hidden;
  }

  &::placeholder {
    opacity: 1;
    transition: all var(--trans-base);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }

  &::spelling-error {
    text-decoration: underline 1px wavy var(--color-error);
    text-underline-offset: 3px;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    border-radius: inherit;
  }

  // variants
  &--var-primary {
    background: var(--color-white);
    border-color: var(--color-black);
    color: var(--color-black);

    &:hover:not(:focus):not(:disabled) {
      border-color: opacity(var(--color-black), 40%);
    }

    &:focus:not(:disabled) {
      box-shadow: 0 0 0 3px opacity(var(--color-black), 10%);
    }
  }

  // sizes
  &--size-md {
    @include field-base;
    min-height: var(--input-size-md);
    padding-inline: rem(12);
  }

  &--size-sm {
    @include field-sm;
    min-height: var(--input-size-sm);
    min-width: var(--input-size-sm);
    padding-inline: rem(6);
  }

  &--size-lg {
    @include field-lg;
    min-height: var(--input-size-lg);
    min-width: var(--input-size-lg);
    padding-inline: rem(14);
  }

  @at-root {
    #{&}textarea {
      height: unset;
      resize: vertical;
    }

    textarea#{&}--size-md {
      min-height: calc(var(--input-size-md) * 2);
      padding-block: rem(12 / 2);
    }

    textarea#{&}--size-sm {
      min-height: var(--input-size-md);
      padding-block: rem(6 / 2);
    }

    textarea#{&}--size-lg {
      min-height: calc(var(--input-size-md) * 3);
      padding-block: rem(14 / 2);
    }
  }

  // mod
  &--mod-rounded {
    border-radius: calc(infinity * 1px);
  }

  // states
  &:user-invalid,
  &:user-invalid:hover,
  &--has-error:hover,
  &--has-error {
    border-color: var(--color-error);
  }
}
