@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 0.6;
  }
}

@keyframes display-none {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: var(--tabs-display, block);
  }

  100% {
    opacity: 1;
  }
}
