/* stylelint-disable property-no-unknown */
/* stylelint-disable-next-line at-rule-no-unknown */
@view-transition {
  navigation: auto; // анимация при переходе между страницами
}

:root {
  interpolate-size: allow-keywords; // анимация auto значений
}

html {
  overscroll-behavior: none;
  font-variant-numeric: tabular-nums; // цифры одинаковой ширины
  text-rendering: optimizeLegibility; // выравнивания шрифта относительно центра строки
}

body {
  scrollbar-gutter: stable;
}

a {
  text-underline-offset: 0.2em;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}

textarea {
  field-sizing: content; // высота по контенту
  resize: vertical;
  max-width: 100%;
}

.swiper-slide {
  &,
  * {
    box-sizing: border-box;
  }
}
