// stylelint-disable-next-line at-rule-no-unknown
@view-transition {
  navigation: auto;
}

html {
  overscroll-behavior: none;

  text-rendering: optimizeLegibility;
  // оптимизация выравнивания шрифта относительно центра строки
  // если по прежнему есть проблемы с выравниванием
  // https://transfonter.org/ - включите настройку "Fix vertical metrics" и переконвертируйте шрифт
}

body {
  scrollbar-gutter: stable;
}

a {
  text-underline-offset: 0.2em;
  color: var(--color-link);

  &:hover {
    color: var(--color-link-hover);
  }
}

textarea {
  // stylelint-disable-next-line property-no-unknown
  field-sizing: content;
  max-width: 100%;
}

.swiper-slide {
  &,
  * {
    box-sizing: border-box;
  }
}
