.badge {
  display: inline-flex;
  place-items: center;
  gap: rem(6);
  user-select: none;
  text-transform: lowercase;
  min-width: max-content;
  flex: 0 0 auto;

  // variant
  &--var-primary {
    background: var(--color-main);
  }

  &--var-secondary {
    background: var(--color-accent);
    color: var(--color-white);
  }

  // sizes
  &--size-md {
    border-radius: rem(4);
    padding: rem(6) rem(12);
  }

  &--size-sm {
    font-size: 0.8em;
    border-radius: rem(4);
    padding: rem(2) rem(6);
  }

  &--size-lg {
    font-size: 1.6em;
    border-radius: rem(4);
    padding: rem(10) rem(12);
  }
}
