@import 'system/vars';
@import 'system/mix';
@import 'system/functions';

// Vendors
// @import '../../node_modules/hystmodal/lib/hystmodal.css';
// @import '../../node_modules/swiper/swiper';
// @import '../../node_modules/swiper/modules/autoplay';
@import '../../node_modules/tippy.js/dist/tippy.css';

// Global
// @import 'system/fonts';
@import 'system/animations';
@import 'system/reset';
@import 'system/reboot';
@import 'system/core';
@import 'system/typography';
@import 'system/utils';

// Core styles
@import 'vendors/*.scss';
@import 'ui/*.scss';
@import 'elements/*.scss';
@import 'blocks/*.scss';
@import 'sections/*.scss';
@import 'widgets/*.scss';
@import 'pages/*.scss';
@import 'layout/*.scss';
